<h1>New effort</h1>

<% form_for(@effort) do |f| %>
  <%= f.error_messages %>

  <p>
    <label>User</label><br />
    <%= f.select(:user_id, options_for_select(@userOptions))%>
  </p>
  <p>
    <label>Task</label><br />
    <%= f.select(:task_id, options_for_select(@taskOptions))%>
  </p>
  <p>
    <label>Date</label> <br />
   <%=date_select :taskDate, :taskDate, :start_year => 2014%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', efforts_path %>